// ===============================
// component : card
// ===============================
.card__container { 
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-box-pack:justify;
  -webkit-justify-content:space-between;
  -ms-flex-pack:justify;
  justify-content:space-between;
}
.c-card{
  box-sizing: border-box;
  width: calc(50% - #{$space_m});
  margin: 0 $space_m $space_l 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  background-color: $white;
  @include mq() {
    width: 90%;
    margin: 0 auto $space_m auto;
  }
  &-textbox {
    width: 100%;
    padding: $space_l;
    box-sizing: border-box;
    &__text {
      font-size: $font-size_l;
      font-weight: bold;
      margin-bottom: $space_s;
    }
    &__item {
      font-size: $font-size_s;
    }
  }
}


