// ===============================
// component:filter
// ===============================
.c-filter  {
  width: 100%;
  outline:none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  &::-ms-expand{
    display: none;
  }
  &:-moz-focusring{
    color: transparent;
    text-shadow: 0 0 0 #828c9a;
  }
  &__option {
    background-color: $white;
    color: $black;
  }
}