// ===============================
// component : flash_message
// ===============================

.c-flash {
  width: 20%;
  margin-left: auto;
  font-weight: bold;
  color: $white;
  opacity: 0.7;

  @include mq() {
    width: 100%;
    margin: 0 auto;
  }

  &__success {
    background-color: #28a745;
    padding: $space_m $space_l;
    border-radius: 10px;

    &-text {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

  &__error {
    background-color: #dc3545;
    padding: $space_m $space_l;
    border-radius: 10px;

    &-text {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }

}