// ===============================
// component : introduction
// ===============================

.c-introduction {
  background-color: $white;;
  border: 4px double #ddd;
  margin: 2em 0;
  padding: 2em;
  &__function {
    font-weight: bold;
    margin-bottom: $space_s;
    @include mq() {
      font-size: $font-size_m;
      margin-bottom: $space_m;
    }
  }
  &__content {
    font-size: $font-size_m;
    @include mq(){
      font-size: $font-size_s;
    }
  }
}