// ===============================
// component : nav
// ===============================
.c-nav {
  float: right;
  display:block;
  padding-top: $space_m;
  @include mq(lg) {
    display: block;
    position:absolute;
    background:rgba($main-color,0.6);
    top:0;
    right:-100%;
    width:100%;
    height: 100vh;
    -webkit-transition: .5s;
    transition: .5s;
    &.active {
      -webkit-transition: .5s;
      transition: .5s;
      -webkit-transform: translateX(-20%);
              transform: translateX(-20%);
      z-index: 2;
      @include mq() {
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
        text-align: center;
      }
    }
  }
  &-menu {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    font-size: $font-size_m;
    @include mq(lg) {
      display: inline-block;
      font-size: $font-size_l;
    }
    @include mq() {
      text-align: center;
      font-size: $font-size_xl;
    }
    &__guest {
      margin-top: $space_m;
    }
    &__item {
      display: block;
      border-radius: 5px;
      padding: $space_m;
    }
    &__link {
      -webkit-font-smoothing: initial;
      &:hover {
        color: $accent-color;
      }
      &--accent {
        font-weight: bold;
      }
    }
  }
}

