// ===============================
// component:pagination
// ===============================

.c-pagination { 
  text-align: center;
   ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }
   li { 
    display: inline;
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    background:#9D50BB;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 10px;

    a{
      vertical-align: middle;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      display:table;
      color: #fff;
      text-decoration: none;

      &:hover, :active {
        color: #000;
        background: #ccf;
        border-radius: 10px;
      }

      span {
        display:table-cell;
  vertical-align:middle;
      }
    }
  }
   
}



/* その6  */
.pager .pagination {
  text-align: center;
}

.pager .pagination li {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background:#9D50BB;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.pager .pagination li.pre,
.pager .pagination li.next{
  display: inline-block;
  width: 40px;
  height: 20px;
  text-align: center;
}

.pager .pagination li a{
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display:table;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.pager .pagination li a span{
  display:table-cell;
  vertical-align:middle;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color: #000;
  background: #ccf;
  border-color: #00f;
}

@media only screen and (max-width: 767px){
  .pager .pagination li{
    display: none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next{
    display: inline-block;
    width: 20%;
    height: 50px;
    text-align: center;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width: 100%;
    text-align: center;
  }


}
