// ===============================
// component : profile
// ===============================

.c-profile {
  // width: 80%;
  border: 2px solid #888;
  border-radius: 10px;
  padding: $space_xxl;
  font-size: $font-size_l;

  &__name {
    border-bottom: 1px solid #ccc;
    padding-bottom: $space_m;

    span {
      font-weight: bold;
    }
  }

  &__email {
    margin-top: $space_s;

    span {
      font-weight: bold;
    }
  }

}