// ===============================
// component:table
// ===============================
.c-table { 
  width: 100%;
  margin:0 auto;
  border-collapse: separate;
  border-spacing: 0 $space_m;
  table-layout: fixed;
  font-size: $font_size_m;
  @include mq(){
    font-size: $font_size_s;
  }
  &-thead {
    background-color: $accent-color;
    color: white;
    &-row {
      height: 30px;
      @include mq(){
        height: 50px;
      }
      &__header{
        padding:$space_m;
        vertical-align: middle;
        @include mq(){
          padding: $space_s;
        }
      }
    }
  }
  &-tbody {
    &-row { 
      background-color: $white;
      height: 50px;
      &:hover {
        background-color: rgba($accent-color, 0.3);
      }
      &__data{
        text-align: center;
        line-height: 50px;
        white-space: nowrap;
      }
      &__link{
        display:block;
      }
    }
  }
}
