// ===============================
// project:account
// ===============================

.p-account {
  width: 100%;

  &__auto {
    margin-left: $space_m;

  }

  &__container {

  }

  &__pagination {
    
    @include mq() {
      text-align: center;
    }
    &-content {
      display: inline-block;
    }
  }

}