// ===============================
// project:register-form
// ===============================

.p-form__container {
  width: 980px;
  margin: 0 auto;
  padding-top: $space_xl;
}

.p-form {
  
  &__group {
    width:80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: $space_3l;
    padding-bottom: $space_xl;
    border-bottom: 1px solid #d0cece;
  }
}