// ===============================
// project:mypage
// ===============================

.p-mypage {
  margin-top: $space_3l;

  &__profile {
    width: 60%;
    margin:0 auto;

    @include mq(){
      width: 80%;
    }
  }
}