// ===============================
// project:news
// ===============================

.p-news{
  width: 100%;

  &__cards {
    margin-top: $space_l;
  }

  &__pagination {

    @include mq(){
      text-align: center;
    }
    &-content {
      display: inline-block;

    }
  }

}