// ===============================
// project:news
// ===============================

.p-news{
  width: 100%;
  padding-top: $space_xl;
  padding-right: $space_l;
  padding-left: $space_l;
  box-sizing: border-box;
  margin-bottom: $space_3l;

  &__cards {
    margin-top: $space_l;
  }

  &__pagination {

    @include mq(){
      text-align: center;
    }
    &-content {
      display: inline-block;

    }
  }

}