// ===============================
// project:passremind
// ===============================

// パスワードリマインダーの３画面+退会画面共通
// -------------------------------

.p-passremind {
  box-shadow: 0 0 5px 1px #c0c0c0;
  border-radius: 20px;
  width:60%;
  margin:0 auto;

  &__container {
    margin-top: $space_3l;
  }

  &__title {
    background: $sub-color;
    border-radius: 20px 20px 0 0;
    color: #fff;
    font-size: 28px;
    padding: 20px 26px;
    &-accent {
      margin-right: $space_m;
    }
  }

  &__form {

    &-fieldset{
      border-radius: 0 0 20px 20px;
      padding: $space_xl;
    }
    p {
      color: #777;
  margin-bottom: 14px;
    }
    input {
      border-radius: 3px;
      
    }
    input[type="email"], input[type="password"]{
      background: #eee;
      color: #777;
      padding: 4px 10px;
      width: 100%;
    }
    input[type="submit"] {
      background: $accent-color;
      color: #fff;
      display: block;
      margin: 0 auto;
      padding: 4px 0;
      width: 100px;
      &:hover {
        background-color: rgba($accent-color, 0.7);
      }
    }
  }
}