// ===============================
// project:ranking
// ===============================

.p-ranking {
  width: 100%;
  padding-top: $space_xl;
  padding-right: $space_l;
  padding-left: $space_l;
  box-sizing: border-box;



  &__content {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto $space_3l auto;
    overflow: hidden;
    @include mq(){
      width: 100%;
    }

   // sort部分
    &-sort {
      padding-bottom: $space_m;

          ul {
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
    
            li {
              width: 25%;
              text-align: center;
    
              button {
                width: 100%;
                display: inline-block;
                padding: $space_s $space_m;
                text-decoration: none;
                color: #999;
                border: solid 1px #999;
                -webkit-transition: .4s;
                transition: .4s;
                margin-right: 0;

                &.active {
                  background: #999;
                  color: white;
                }
    
                &:hover{
                  background: #999;
                  color: white;
                }
              }
            }
          }
    
    }

    &-filter {
      margin-top: $space_m;
      display: inline-block;
      width: 50%;
      
      @include mq() {
        width: 30%;
        font-size: $font_size_s;
      }
    }

    &-information {
      font-size: $font_size_m;
      float: right;
      position: relative;
      top: 70px;
      span {
        font-weight: bold;
      }

      @include mq(){
        font-size: $font_size_s;
      }
      @include mq(sm){
        font-size: 10px;
      }
    }
    
    &-table { 
      
    }

  }
}