// ===============================
// project:ranking
// ===============================

.p-ranking {
  width: 100%;
  padding-top: $space_xl;
  // &__checkbox { 
  //   width: 30%;

  //   &-content{
  //     box-sizing: border-box;
  //     background-color: $main-color;
  //     box-shadow: 0 0 5px 1px #c0c0c0;
  //     padding: $space_m;
  //     border-radius: 10px;
  //     width: 80%;
  //     margin: 0 auto;
  //     label{
  //       display:block;
  //       input[type=checkbox]{
  //         margin-right:$space_m;
  //       }
  //     }
  //   }
  // }

  &__content {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    &-filter {
      margin-top: $space_m;
      display: inline-block;
      width: 50%;
      
    }

    // sort部分
    &-sort {

      ul {
        display: flex;
        justify-content: center;

        li {
          width: 25%;
          text-align: center;

          button {
            width: 100%;
            display: inline-block;
            padding: $space_s $space_m;
            text-decoration: none;
            color: #999;
            border: solid 1px #999;
            transition: .4s;
            margin-right: 0;

            &:hover{
              background: #999;
              color: white;
            }
          }
        }
      }

    }

    &-information {
      float: right;
      position: relative;
      top: 90px;
      span {
        font-weight: bold;
      }
    }
    
    &-table { 
      
    }

  }

  &__brand {
      color: $white;
      background-color: $accent-color;
      width: 80%;
      border: 1px solid;
      margin-bottom: $space_m;
      padding: $space_m;


    &-content{
      
    }
  }
}