@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html,
body {
  width: 100%;
  color: #666;
  font-size: 16px;
  line-height: 1.6;
  background-color: #ffffff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #666;
}

button:focus {
  outline: 0;
}

input {
  outline: none;
  background-image: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

.l-footer {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  color: #666;
  font-size: 14px;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  position: absolute;
  /*←絶対位置*/
  bottom: 0;
  /*下に固定*/
  box-shadow: 0 0 1px gray;
}

.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  color: #666;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.l-header.float-active {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.7);
}

.l-header__title {
  font-size: 24px;
  font-weight: bold;
}

.l-main {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .l-main {
    width: 100%;
  }
}

.l-main__title {
  font-size: 24px;
  padding-bottom: 15px;
  border-bottom: 2px solid #1B435D;
}

@media screen and (max-width: 1000px) {
  .l-main__title {
    font-size: 18px;
    padding-bottom: 10px;
  }
}

.l-wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.c-accountcard__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c-accountcard {
  width: calc(50% - 10px*2);
  box-sizing: border-box;
  box-shadow: 0 0 5px 1px #c0c0c0;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .c-accountcard {
    width: 80%;
    margin: 10px auto;
  }
}

.c-accountcard__name {
  font-size: 18px;
  margin-bottom: 10px;
}

.c-accountcard__name span {
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.c-accountcard__btn {
  float: right;
}

.c-accountcard__btn button {
  background-color: #ffffff;
  color: #007bff;
  border: solid 1px #007bff;
  border-radius: 10px;
  padding: 5px 10px;
}

.c-accountcard__btn button:hover {
  background-color: #007bff;
  color: #ffffff;
}

.c-accountcard__btn button.active {
  background-color: #007bff;
  color: #ffffff;
}

.c-accountcard__data li {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  padding: 0 10px;
  border-right: solid 1px #bdc3c7;
}

.c-accountcard__data li:last-child {
  border: none;
}

.c-accountcard__data li span {
  display: block;
  font-size: 12px;
}

.c-accountcard__tweet {
  width: 90%;
  color: #666;
  max-height: 100px;
  overflow: scroll;
  padding: 5px;
  margin: 10px auto;
}

.c-input__label {
  display: block;
}

.c-input__label-accent {
  background-color: #1B435D;
  color: #ffffff;
}

input[type=text] {
  width: 100%;
  height: 40px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

input[type=text]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.c-submit-btn {
  font-size: 24px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: 0.4s;
}

.c-submit-btn:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.c-submit-btn__container {
  text-align: center;
}

.btn {
  clear: both;
  white-space: nowrap;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin: 2px;
  transition: all 0.5s;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,
.btn-icon > i {
  float: left;
  padding: 13px;
  transition: all 0.5s;
  line-height: 1em;
}

.btn > span {
  padding: 14px 18px 16px;
  white-space: nowrap;
  color: #FFF;
  background: #b8b8b8;
}

.btn:focus > span {
  background: #9a9a9a;
}

.btn-icon > i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 13px;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  background: #212121;
}

.btn-icon > i:after {
  content: "";
  border: 8px solid;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 13px;
  right: -15px;
}

.btn-icon:hover > i,
.btn-icon:focus > i {
  color: #FFF;
}

.btn-icon > span {
  border-radius: 0 5px 5px 0;
}

.btn-twitter:hover > i,
.btn-twitter:focus > i {
  color: #55acee;
}

.btn-twitter > span {
  background: #55acee;
}

.c-reload-btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #f9a9ae;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.c-reload-btn:active {
  /*押したとき*/
  transform: translateY(2px);
  /*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);
  /*グラデーションを明るく*/
}

.c-reload-btn__container {
  margin-top: 10px;
  text-align: right;
}

.c-card__container {
  /*Android4.3*/
  /*Firefox21*/
  /*IE10*/
  /*PC-Safari,iOS8.4*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.c-card {
  box-sizing: border-box;
  width: calc(50% - 10px);
  margin: 0 10px 15px 0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .c-card {
    width: 80%;
    margin: 0 auto 10px auto;
  }
}

.c-card__textbox {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.c-card__textbox-text {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.c-card__textbox-item {
  font-size: 12px;
}

.c-filter {
  width: 100%;
  outline: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.c-filter::-ms-expand {
  display: none;
}

.c-filter:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}

.c-filter__option {
  background-color: #fff;
  color: #333;
}

.c-flash {
  width: 20%;
  margin-left: auto;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .c-flash {
    width: 100%;
    margin: 0 auto;
  }
}

.c-flash__success {
  background-color: #28a745;
  padding: 10px 15px;
  border-radius: 10px;
}

.c-flash__success-text {
  text-align: center;
  margin: 0;
  padding: 0;
}

.c-flash__error {
  background-color: #dc3545;
  padding: 10px 15px;
  border-radius: 10px;
}

.c-flash__error-text {
  text-align: center;
  margin: 0;
  padding: 0;
}

.c-introduction {
  background-color: #ffffff;
  border: 4px double #ddd;
  margin: 2em 0;
  padding: 2em;
}

.c-introduction__function {
  font-weight: bold;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .c-introduction__function {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.c-introduction__content {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .c-introduction__content {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .c-nav {
    display: block;
    position: absolute;
    background: rgba(213, 238, 255, 0.6);
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
  }

  .c-nav.active {
    transition: 0.5s;
    transform: translateX(-20%);
    z-index: 2;
  }
}

@media screen and (max-width: 1000px) and (max-width: 768px) {
  .c-nav.active {
    transform: translateX(-100%);
    text-align: center;
  }
}

.c-nav__menu {
  display: flex;
  align-items: center;
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .c-nav__menu {
    display: inline-block;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .c-nav__menu {
    text-align: center;
    font-size: 24px;
  }
}

.c-nav__menu-item {
  display: block;
  border-radius: 5px;
  padding: 10px;
}

.c-nav__menu-link {
  -webkit-font-smoothing: initial;
}

.c-nav__menu-link:hover {
  color: #F99F48;
}

.c-nav__menu-link span {
  font-weight: bold;
}

.menu-triger {
  display: none;
  cursor: pointer;
  transition: all 0.4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
}

@media screen and (max-width: 1000px) {
  .menu-triger {
    display: inline-block;
  }
}

.menu-triger span {
  display: inline-block;
  background-color: #666;
  width: 100%;
  height: 4px;
  transition: all 0.4s;
  position: absolute;
  left: 0;
}

.menu-triger span:nth-of-type(1) {
  top: 0;
}

.menu-triger span:nth-of-type(2) {
  top: 14px;
}

.menu-triger span:nth-of-type(3) {
  bottom: 0;
}

.menu-triger.active span:nth-of-type(1) {
  width: 45%;
  transform: translate3d(2px, 7px, 0) rotate(405deg);
}

.menu-triger.active span:nth-of-type(2) {
  transform: translate3d(0px, 0, 0) rotate(-45deg);
}

.menu-triger.active span:nth-of-type(3) {
  width: 45%;
  transform: translate3d(18px, -5px, 0) rotate(405deg);
}

.c-pagination {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.c-pagination__list {
  margin-right: 5px;
  padding: 5px;
  display: inline-block;
  overflow: hidden;
  background-color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #888;
}

.c-pagination__list-pre {
  display: inline-block;
  width: 40px;
  height: 25px;
  text-align: center;
}

.c-pagination__list-next {
  display: inline-block;
  width: 40px;
  height: 25px;
  text-align: center;
}

.c-pagination__list:hover {
  color: #ffffff;
  background: #007bff;
}

.c-pagination__list.active {
  color: #ffffff;
  background: #007bff;
}

.c-pagination__list-link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.1s ease;
}

@media screen and (max-width: 768px) {
  .c-pagination__list {
    display: none;
  }

  .c-pagination__list-pre {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
  }

  .c-pagination__list-next {
    display: inline-block;
    width: 100px;
    height: 40px;
    text-align: center;
  }
}

.c-profile {
  width: 50%;
  border: 2px solid #888;
  border-radius: 10px;
  padding: 30px;
  font-size: 14px;
}

.c-profile__name {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.c-profile__name span {
  font-weight: bold;
}

.c-profile__email {
  margin-top: 5px;
}

.c-profile__email span {
  font-weight: bold;
}

.c-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  table-layout: fixed;
}

@media screen and (max-width: 768px) {
  .c-table {
    font-size: 14px;
  }
}

.c-table__thead {
  background-color: #F99F48;
  color: white;
}

.c-table__thead tr {
  height: 30px;
}

@media screen and (max-width: 768px) {
  .c-table__thead tr {
    height: 50px;
  }
}

.c-table__thead tr th {
  padding: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .c-table__thead tr th {
    padding: 5px;
  }
}

.c-table__tbody tr {
  background-color: #ffffff;
  height: 50px;
}

.c-table__tbody tr:hover {
  background-color: rgba(249, 159, 72, 0.3);
}

.c-table__tbody tr td {
  text-align: center;
  line-height: 50px;
  white-space: nowrap;
}

.c-table__tbody tr td a {
  display: block;
}

.p-account {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-account__pagination {
    text-align: center;
  }
}

.p-account__pagination-content {
  display: inline-block;
}

.p-form__container {
  width: 980px;
  margin: 0 auto;
  padding-top: 20px;
}

.p-form__group {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d0cece;
}

.p-home {
  width: 100%;
}

.p-home__upper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  padding: 50px 20px;
}

@media screen and (max-width: 768px) {
  .p-home__upper {
    display: block;
  }
}

.p-home__upper-left {
  box-sizing: border-box;
  padding-top: 100px;
  width: 30%;
}

@media screen and (max-width: 1000px) {
  .p-home__upper-left {
    padding-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .p-home__upper-left {
    width: 100%;
    padding-top: 15px;
  }
}

.p-home__upper-left-title {
  font-weight: bold;
  font-size: 38px;
}

@media screen and (max-width: 1000px) {
  .p-home__upper-left-title {
    font-size: 24px;
  }
}

.p-home__upper-left-sub {
  margin-top: 15px;
  font-size: 24px;
}

@media screen and (max-width: 1000px) {
  .p-home__upper-left-sub {
    font-size: 18px;
  }
}

.p-home__upper-right {
  box-sizing: border-box;
  width: 70%;
  height: 0;
  padding-top: 56.25%;
  background: url(/images/top2.png?a81e090b6650c392e55da7690a03e462) 0 0 no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .p-home__upper-right {
    width: 100%;
  }
}

.p-home__bottom {
  background-color: #f0f0f0;
  margin-bottom: 15px;
}

.p-home__bottom-contents {
  width: 980px;
  margin: 0 auto;
  padding: 40px 0;
}

@media screen and (max-width: 1000px) {
  .p-home__bottom-contents {
    width: 80%;
  }
}

.p-home__bottom-contents-heading {
  text-align: center;
  width: 20%;
  margin: 0 auto;
  font-size: 18px;
  position: relative;
  padding: 0 80px;
}

.p-home__bottom-contents-heading:before {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 80px;
  height: 1px;
  background-color: black;
  left: 0;
}

.p-home__bottom-contents-heading:after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 80px;
  height: 1px;
  background-color: black;
  right: 0;
}

.p-login {
  box-shadow: 0 0 5px 1px #c0c0c0;
  border-radius: 20px;
  max-width: 980px;
  width: 40%;
  margin: 0 auto;
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .p-login {
    width: 80%;
    font-size: 12px;
  }
}

.p-login__container {
  margin-top: 40px;
}

.p-login__title {
  background: #1B435D;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 26px;
}

@media screen and (max-width: 768px) {
  .p-login__title {
    font-size: 18px;
  }
}

.p-login__title-accent {
  margin-right: 10px;
}

.p-login__twitter {
  margin: 0 20px;
  padding: 20px 0;
  border-bottom: 1px solid #d0cece;
}

.p-login__twitter-btn {
  color: #FFF;
  /*文字・アイコン色*/
  border-radius: 7px;
  /*角丸に*/
  display: inline-block;
  text-align: center;
  /*中身を中央寄せ*/
  background: #1da1f3;
  overflow: hidden;
  /*はみ出た部分を隠す*/
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .p-login__twitter-btn {
    font-size: 12px;
  }
}

.p-login__twitter-btn .fab-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.p-login__twitter-btn span {
  display: inline-block;
}

.p-login__form-fieldset {
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.p-login__form p {
  color: #777;
}

.p-login__form-item {
  margin-bottom: 5px;
}

.p-login__form-item input {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.p-login__form-item input:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.p-login__form-item strong {
  color: red;
}

.p-login__form button {
  background: #F99F48;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
}

.p-login__form button:hover {
  background-color: rgba(249, 159, 72, 0.7);
  cursor: pointer;
}

.use_icon {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-mypage__menu {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}

.p-mypage__menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wraps;
}

.p-mypage__menu ul li {
  margin-right: 10px;
}

.p-mypage__menu ul li a {
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 2px solid #b2b2b2;
}

.p-mypage__menu ul li a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #000000;
  transform: scaleX(0);
  transform-origin: right top;
  transition: transform 0.3s;
}

.p-mypage__menu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left top;
}

.p-news {
  width: 100%;
}

.p-news__cards {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .p-news__pagination {
    text-align: center;
  }
}

.p-news__pagination-content {
  display: inline-block;
}

.p-passremind {
  box-shadow: 0 0 5px 1px #c0c0c0;
  border-radius: 20px;
  width: 60%;
  margin: 0 auto;
}

.p-passremind__container {
  margin-top: 40px;
}

.p-passremind__title {
  background: #1B435D;
  border-radius: 20px 20px 0 0;
  color: #fff;
  font-size: 28px;
  padding: 20px 26px;
}

.p-passremind__title-accent {
  margin-right: 10px;
}

.p-passremind__form-fieldset {
  border-radius: 0 0 20px 20px;
  padding: 20px;
}

.p-passremind__form p {
  color: #777;
  margin-bottom: 14px;
}

.p-passremind__form input {
  border-radius: 3px;
}

.p-passremind__form input[type=email],
.p-passremind__form input[type=password] {
  background: #eee;
  color: #777;
  padding: 4px 10px;
  width: 100%;
}

.p-passremind__form input[type=submit] {
  background: #F99F48;
  color: #fff;
  display: block;
  margin: 0 auto;
  padding: 4px 0;
  width: 100px;
}

.p-passremind__form input[type=submit]:hover {
  background-color: rgba(249, 159, 72, 0.7);
}

.p-ranking {
  width: 100%;
  padding-top: 20px;
}

.p-ranking__content {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.p-ranking__content-sort {
  padding-bottom: 10px;
}

.p-ranking__content-sort ul {
  display: flex;
  justify-content: center;
}

.p-ranking__content-sort ul li {
  width: 25%;
  text-align: center;
}

.p-ranking__content-sort ul li button {
  width: 100%;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #999;
  border: solid 1px #999;
  transition: 0.4s;
  margin-right: 0;
}

.p-ranking__content-sort ul li button.active {
  background: #999;
  color: white;
}

.p-ranking__content-sort ul li button:hover {
  background: #999;
  color: white;
}

.p-ranking__content-filter {
  margin-top: 10px;
  display: inline-block;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .p-ranking__content-filter {
    width: 30%;
    font-size: 12px;
  }
}

.p-ranking__content-information {
  font-size: 14px;
  float: right;
  position: relative;
  top: 70px;
}

.p-ranking__content-information span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .p-ranking__content-information {
    font-size: 12px;
  }
}

.p-ranking__brand {
  color: #ffffff;
  background-color: #F99F48;
  width: 80%;
  border: 1px solid;
  margin-bottom: 10px;
  padding: 10px;
}

