// ===============================
// layout:footer
// ===============================
.l-footer {
  margin-top: auto;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  color: $font-color-default;
  font-size: $font-size_m;
  text-align: center;
  padding: $space_l 0;
  box-shadow: 0 0 1px gray;
  @include mq(){
    font-size: $font-size_s;
  }
}