// ===============================
// layout:header
// ===============================
.l-header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  color: $font-color_default;
  background-color: $white;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-left: $space_xl;
  padding-right: $space_xl;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  &.float-active {
    -webkit-transition: .3s;
    transition: .3s;
    background: rgba(255, 255, 255, 0.7);
  }
  &__logo{

  }
  &__title{
    font-size: $font-size_xl;
    font-weight: bold;
  }
}

// TODO: ページを下げるときにヘッダーを透明にする