// ===============================
// utility:checkbox
// ===============================

.u-checkbox {
  padding: 12px 8px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;

  &__input {
    margin: 0;
    width: 0;
    opacity: 0;

    &:hover {
      background: rgba(0,0,0,.05) !important;
    }

    &:focus{
      +span {
        border: dashed 2px #333333;
      }
    }
    &:checked {
      +span {
        background: #333333;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 40%;
          height: 2px;
          border-radius: 4px;
          -webkit-transform: translate(-6px, 5px) rotateZ(-135deg);
                  transform: translate(-6px, 5px) rotateZ(-135deg);
          -webkit-transform-origin: 2px 2px;
                  transform-origin: 2px 2px;
          background: #FFFFFF;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 76%;
          height: 4px;
          border-radius: 2px;
          -webkit-transform: translate(-6px, 5px) rotateZ(-45deg);
                  transform: translate(-6px, 5px) rotateZ(-45deg);
          -webkit-transform-origin: 2px 2px;
                  transform-origin: 2px 2px;
          background: #FFFFFF;
        }
      }
    }
  }
  &__dummy {
    position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  border: solid 2px transparent;
  background: rgba(0,0,0, .1);
  border-radius: 4px;
  @include mq(sm){
    width: 40px;
    height: 24px;
  }

  }
  &__labeltext {
    margin-left: $space_m;
    display: block;
    font-size: $font-size_l;
    font-weight: bold;
    @include mq(){
      font-size: $font-size_m;
    }
    @include mq(sm){
      font-size: $font-size_s;
    }
  }
}