// ===============================
// utility:twitter-btn
// ===============================

.u-twitterbtn {
  color: #FFF;
  border-radius: 7px;
  display: inline-block;
  padding: $space_l;
  text-align: center;
  font-size: $font-size_xl;
  background: #1da1f3;
  overflow: hidden;

  @include mq(){
    font-size: $font-size_m;
  }
  span {
    margin-left: $space_m;
  }
}